.center-text {
  text-align: center;
  font-weight: bold;
}

.lr-layout {
  display: flex;
  gap: 32px;
  align-items: center;
  margin: 40px 0;
}

.lr-text {
  flex: 1;
}

.lr-image {
  flex: 1;
}

.lr-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);

}



.two-images {
  display: flex;
  /* gap: 20px; */
  margin: 20px 0;
}

.two-images img {
  flex: 1; /* 等分宽度 */
  height: 270px; 
  object-fit: contain;
}
.two-images img:nth-child(2) {
  object-position: right center; /* 水平靠右，垂直居中 */
}

/* 图标大小 */
.imgIcon{
   display: inline-block !important;
  width: 20px;
  height: 20px;
  vertical-align: middle; 
  margin: 0 2px;
}

/* ✅ 手机端自动变上下结构 */
@media (max-width: 768px) {
  .lr-layout {
    flex-direction: column;
  }
  .two-images {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 20px 0;
}
  .two-images img {
 height: auto;
}
}
